nav{
  background-color: #FBBC04;
  padding: 0rem 0rem;
  button{
    margin: 1vh 5vw;
  }
  .navbar-collapse {
      background-color: white;
      padding: .5rem 1rem;
  }
  li{
    margin: 1.5vh 0;
    a{
      font-size: 1.3em;
    }
    i{
      font-size: 20px;
    }
  }
} 