<div class="row">
  <button class="atajo" (click)="reload()">
    Atajo 1
  </button>
  <button class="atajo" (click)="reload()">
    Atajo 2
  </button>
</div>

<div class="row">
  <div class="col-md-12">
    <button class="container-misTareas" (click)="reload()">
      <i class="fas fa-tasks"></i>
      <p>Mis <br> tareas</p>
    </button>
    <button class="container-tracking" (click)="reload()">
      <i class="fas fa-truck-moving"></i>
      <p>Tracking</p>
    </button>
    <button class="container-graficos" (click)="reload()">
      <i class="fas fa-chart-pie"></i>
      <p>Gráficos</p>
    </button>
  </div>
</div>
